# Conhecendo o DataSet

- link original do dataset: http://archive.ics.uci.edu/dataset/144/statlog+german+credit+data

- link traduzido do dataset:https://raw.githubusercontent.com/romulosilvestre/semanaclassificacao-parte2/refs/heads/master/datasets/anacondabank_credit_scoring.csv

In [1]:
# instalar pandas
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.2-cp312-cp312-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\anacondabank_m\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\anacondabank_m\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.1.2-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [3]:
# importar os pandas
import pandas as pd

In [6]:
# definimos url
url = "datasets/anacondabank_credit_scoring.csv"

In [7]:
# carregamos o dataset
df = pd.read_csv(url)

In [8]:
# cabeÃ§alho
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   object
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   object
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [11]:
df['conta_corrente'].unique()

array(['< 0 DM', '0 <= ... < 200 DM', 'no checking account',
       '>= 200 DM / salary assignments for at least 1 year'], dtype=object)

In [12]:
dict_cc = {
     '< 0 DM':1,
     '0 <= ... < 200 DM':2,
     'no checking account':3,
     '>= 200 DM / salary assignments for at least 1 year':4
}

In [13]:
df['conta_corrente'] = df['conta_corrente'].map(dict_cc)

In [14]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [ ]:
# historico_credito (vitÃ³ria)

In [15]:
df['trabalhador_estrangeiro'].unique()

array(['yes', 'no'], dtype=object)

In [16]:
#unique
df['historico_credito'].unique()
#dicionÃ¡rio
dict_historico= {
    'critical account/ other credits existing (not at this bank)':1,
    'existing credits paid back duly till now':2,
    'delay in paying off in the past':3,
    'no credits taken/ all credits paid back duly':4,
    'all credits at this bank paid back duly':5
}
#map
df['historico_credito']= df['historico_credito'].map(dict_historico)

In [17]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,2,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,1,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,2,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,3,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

# sueli (falta)

In [18]:
df["reserva_cc"].unique()

dict_rcc = {
    "unknown/ no savings account":0,
    "... < 100 DM":1,
    "500 <= ... < 1000 DM ":2,
    ".. >= 1000 DM ":3,
    "100 <= ... < 500 DM":4,
}

df["reserva_cc"] = df["reserva_cc"].map(dict_rcc)

In [19]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,domestic appliances,1169,0,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,2,domestic appliances,5951,1,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,1,(vacation - does not exist?),2096,1,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,2,radio/television,7882,1,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,3,car (new),4870,1,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [20]:
#unique
df['sexo_est_civil'].unique()
#dicionÃ¡rio
sexo_est_civil ={
    'male : single':1,
    'female : divorced/separated/married':2,
    'male : divorced/separated':3,
    'male : married/widowed':4
}
#map
df['sexo_est_civil']=df['sexo_est_civil'].map(sexo_est_civil)

In [21]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,domestic appliances,1169,0,.. >= 7 years,4,1,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,2,domestic appliances,5951,1,1 <= ... < 4 years,2,2,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,1,(vacation - does not exist?),2096,1,4 <= ... < 7 years,2,1,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,2,radio/television,7882,1,4 <= ... < 7 years,2,1,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,3,car (new),4870,1,1 <= ... < 4 years,3,1,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [22]:
df['outros_planos_financiamento'].unique()

dict_opf = {
    'none':1,
    'bank':2,
    'stores':3
}

df['outros_planos_financiamento'] = df['outros_planos_financiamento'].map(dict_opf)

In [23]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,domestic appliances,1169,0,.. >= 7 years,4,1,...,4,real estate,67,1,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,2,domestic appliances,5951,1,1 <= ... < 4 years,2,2,...,2,real estate,22,1,own,1,skilled employee / official,1,none,yes
2,0,3,12,1,(vacation - does not exist?),2096,1,4 <= ... < 7 years,2,1,...,3,real estate,49,1,own,1,unskilled - resident,2,none,yes
3,0,1,42,2,radio/television,7882,1,4 <= ... < 7 years,2,1,...,4,if not A121 : building society savings agreeme...,45,1,for free,1,skilled employee / official,2,none,yes
4,1,1,24,3,car (new),4870,1,1 <= ... < 4 years,3,1,...,4,unknown / no property,53,1,for free,2,skilled employee / official,2,none,yes

In [55]:
def mostrar_object():
    # Selecionar apenas as colunas do tipo object
    df_object = df.select_dtypes(include=['object'])
    return df_object.head()

In [26]:
df['proposito_emprestimo'].unique()

dict_pe = {
    'domestic appliances':1,
    '(vacation - does not exist?)':2,
    'radio/television':3,
    'car (new)':4,
    'car (used)':5,
    'business':6,
    'repairs':7,
    'education':8,
    'furniture/equipment':9,
    'retraining':10

}

df['proposito_emprestimo'] = df['proposito_emprestimo'].map(dict_pe)

In [31]:
#unique
df['tipo_residencia'].unique()

#dicionÃ¡rio
dict_tr = {
    'own':1,
    'for free':2,
    'rent':3,
}
#map
df['tipo_residencia'] =df['tipo_residencia'].map(dict_tr)

In [32]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,1,1169,0,.. >= 7 years,4,1,...,4,real estate,67,1,1,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,2,1,5951,1,1 <= ... < 4 years,2,2,...,2,real estate,22,1,1,1,skilled employee / official,1,none,yes
2,0,3,12,1,2,2096,1,4 <= ... < 7 years,2,1,...,3,real estate,49,1,1,1,unskilled - resident,2,none,yes
3,0,1,42,2,3,7882,1,4 <= ... < 7 years,2,1,...,4,if not A121 : building society savings agreeme...,45,1,2,1,skilled employee / official,2,none,yes
4,1,1,24,3,4,4870,1,1 <= ... < 4 years,3,1,...,4,unknown / no property,53,1,2,2,skilled employee / official,2,none,yes

In [34]:
df['status_emprego'].unique()

#dicionÃ¡rio
dict_status_emprego = {
    'skilled employee / official':1,
    'unskilled - resident':2,
    'management/ self-employed/ highly qualified employee/ officer':3,
    'unemployed/ unskilled - non-resident':4}

#map
df['status_emprego'] = df['status_emprego'].map(dict_status_emprego)

In [36]:
df['telefone'].unique()


#dicionÃ¡rio
dict_tel = {
    'none':0,
    'yes, registered under the customers name ':1,
}

#map
df['telefone'] = df['telefone'].map(dict_tel)

In [40]:
df['tempo_emprego_atual'].unique()

#dicionÃ¡rio
dict_tea = {
    '.. >= 7 years':1,
    '1 <= ... < 4 years':2,
    '4 <= ... < 7 years':3,
    'unemployed':4,
    '... < 1 year ':5
}
#map
df['tempo_emprego_atual'] = df['tempo_emprego_atual'].map(dict_tea)

In [42]:
df["outros_fiadores"].unique()
dict_of = {
    "none":1,
    "guarantor":2,
    "co-applicant":3,
}

df["outros_fiadores"] = df["outros_fiadores"].map(dict_of)

In [44]:
#unique
df['propriedade'].unique()
#dicionÃ¡rio
dict_propriedade = {
    'real estate':1,
    'real estate':2,
    'real estate':3,
    'if not A121 : building society savings agreeme...	':4,
    'unknown / no property	':5
}
#map
df[ 'propriedade'] = df['propriedade'].map(dict_cc)

In [48]:
#unique
df['trabalhador_estrangeiro'].unique()

#dicionÃ¡rio
dict_te = {
    'no':0,
    'yes':1
}

#map
df['trabalhador_estrangeiro'] = df['trabalhador_estrangeiro'].map(dict_te)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   int64
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   int64
 4   proposito_emprestimo         1000 non-null   int64
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   int64
 7   tempo_emprego_atual          1000 non-null   int64
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   int64
 10  outros_fiadores              1000 non-null   int64
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  0 non-null      float64
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   int64
 15  tipo_residencia              1000 non-null   int64
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   int64
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   int64
 20  trabalhador_estrangeiro      0 non-null      float64
dtypes: float64(2), int64(19)
memory usage: 164.2 KB

# RegressÃ£o LogÃ­stica

In [57]:
# instalando scikit-learn
! pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ead\desktop\anacondabank_m\venv\lib\site-packages (from scikit-learn) (2.1.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0